.form{
    border: 2px,solid,white;
    margin-left:4%
}

.width{
    width: 300px;
}
mat-form-field {
    text-align: center;
    // display: block;
    margin-left: 39%;
    width: 300px;
}
button{
    margin-left: 43%;
    text-align: center;

}
