.width{
    width: 300px;
}
mat-form-field { justify-content: center;
    text-align: center;
    // display: block;
    margin-left: 39%;
    width: 300px;
}
button{
    margin-left: 43%;
    text-align: center;

}
input[type="file"]{
        margin-left: 39%;

}